@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* html.dark body{
  @apply bg-zinc-800 text-gray-50;
} */

body {
  margin: 0;
  font-family: 'Pretendard', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  
  height: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  /* color: rgb(55, 65, 81); */
  @apply min-w-[300px];
  @apply flex flex-col items-center;
  @apply bg-white text-gray-700;
}

/* font-family: "Bebas Neue", serif; */

#root{
  @apply w-full max-w-full;
}

::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-track{
  @apply bg-gray-200;
  @apply rounded-2xl;
}
::-webkit-scrollbar-thumb{
  @apply bg-gray-500;
  @apply rounded-2xl;
}
::-webkit-scrollbar-thumb:hover{
  @apply bg-gray-600;  
}

code, kbd, samp, pre {
  font-family: 'Pretendard', 'sans-serif';
}

.inner {
  /* max-width: 1200px; */
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 60px;
  @apply w-full;
  /* @apply min-w-[330px]; */
  /* @media screen and (min-width: 1024px) and (max-width: 1400px) {
      max-width: 85%;
  } */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
      max-width: 100%;
      padding: 0 5.208%;
  }
  @media screen and (max-width: 767px) {
      max-width: 100%;
      padding: 0 15px;
  }
}
.content{
  padding: 120px 0;
}

.header_inner {
  /* max-width: 1200px; */
  max-width: 1320px;
  margin: 0 auto;
  padding: 10px 60px;
  /* @media screen and (min-width: 1024px) and (max-width: 1400px) {
      max-width: 85%;
  } */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
      max-width: 100%;
      padding: 10px 5.208%;
  }
  @media screen and (max-width: 767px) {
      max-width: 100%;
      padding: 10px 15px;
  }
}

nav a:hover, nav button:hover{
  color: #24b0ba;
  transition: .2s;
}

.search_area{
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  z-index: 2;
  width: 100%;
}
/* .search_area:after{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
  content: "";
} */

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}